*{
    margin: 0;padding: 0;list-style: none;
}
.content{
    height: 100%;
    width: 100%;
    position: relative;
}
html,body{
    scroll-behavior: smooth;
}
.nav{
    height: 80px;
    width: 100%;
    /* background: rgba(236, 229, 230, 0.1) ;  */
    position: absolute;
    overflow: hidden;
    top:0;
}
.nav-right{
    position: absolute;
    right: 0;
    height: 80px;
    width: 40%;
    z-index: 200;
    /* background: pink;     */
}
.weibo{
    height: 20px;
    width: 20px;
    background: url(../img/share.png);
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    top: 30px;
    right:20%;
    z-index: 200;
}
#list{
    height: 50px;
    width: 50px;
    background: url(../img/0bf67686ab2f5796566ea6d39b6b28b.png) no-repeat;
    position: absolute;
    top: 20px;
    right:10%;
    z-index: 200;
    cursor: pointer;
}
#list1{
    height: 50px;
    width: 50px;
    background: url(../img/eabd37c2890caf74c6235038ebb97ea.png) no-repeat;
    position: absolute;
    top: 20px;
    right:10%;
    display: none;
    z-index: 200;
    cursor: pointer;

    
}
#dw{
    height: 50px;
    width: 30%;
    /* background: darkblue; */
    margin-top: 20px;
    margin-left: 60%;
     opacity: 0;
    transition:all 2s; 
    z-index: 700;
}
#dw ul li{
    width: 20%;
    margin-left:2%;
    float: left;
    line-height:50px; 
    opacity: .5;
    z-index: 700;
    color: black;
}
#dw ul li:hover {
    opacity: 1;
    cursor: pointer;
}
.banner{
    width: 100%;
    height: 63vh;
    background: url("../img/5a5c542e40b017334.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    
}

.subllit{
    /* height: 1334px; */
    width: 100%;
    background-color: #f6f6f6;
    /* overflow: hidden; */
}
.first{
    height: 300px;
    width: 100%;
    position: absolute;
    /* background: darkkhaki; */
    z-index: 100;
    
}
#nav{
    height: 420px;
    width: 340px;
    background: #fff;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 200;
}
.pp{
    width: 80%;
    height: 420px;
    /* background: darkblue; */
    margin-left: 20%;
}
.pp p:nth-child(1){
    height: 80px;
    background: #fff;

}
.women{
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-left:10px;
}
.kuai{
    height: 80px;
    width: 30%;
    margin-left: 70%;
    margin-top:-50px;
    display: inline-block;
    border-top: 4px solid #ffba4b;
    background: #f2f2f2;
}
.kuai:before{
    display: block;
    content: "";
    margin-top: 31px;
    margin-left: 38px;
    width: 2px;
    height: 14px;
    background: #747474;
}
.kuai:after{
    display: block;
    content: "";
    margin-left: 34px;
    margin-top: -9px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #747474;
    border-right: 2px solid #747474;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.pp ul{
    height: 40%;
    /* background: darkcyan; */
    margin-top: 30%;
}
.pp ul li{
    height: 33.33%;
    font-size: 16px;
    margin-left: 10px;
    
}
.pp ul li span{
    margin-left: 10px;
    transition: all 1s   ;
    -webkit-transition: all 1s   ;
    -moz-transition: all 1s   ;
    -ms-transition: all 1s   ;
    -o-transition: all 1s   ;
}
.oran{
    color: #cc933e;
}
.pp ul li span:hover{
    color: #cc933e;
    margin-left:30px;
    cursor: pointer;
}

.font{
    height: 200px;
    width: 500px;
    /* background: darkgoldenrod; */
    margin-left: 50%;
    margin-top: 150px;
    position: relative;
}
.moveqa{
    animation: move 2s ease 1 forwards;
    -webkit-animation: moveqa 2s ease 1 forwards;    
}
@keyframes moveqa{
        from{
            opacity: 0;
            top:-300px;        
    }
        to{
            opacity: 1;
            top:10px;       
    }
}
.font p span:nth-child(1){
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    
}
.font p span:nth-child(2){
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left:60px;
    text-align: left;
}
.font h2{
    font-weight: 400;
    font-size: 40px;
}
.wow{
    height: 800px;
    width: 80%;
    margin-left:10%;
    background: #fff;
    position: relative;
    top:400px;
}
.move{
    animation: move 2s ease 1 forwards;
    -webkit-animation: movee 2s ease 1 forwards;    
}
@keyframes movee{
        from{
            opacity: 0;
            top:160px;        
    }
        to{
            opacity: 1;
            top:400px;       
    }
}


.box {
    position: absolute;
    top: 50%;
    right: 8%;
    width: 300px;
    height: 300px;
    /* background: darkgray; */
}
.box p{
    line-height: 30px;
}
.box p:nth-child(1){
    font-size: .88rem;
    font-family: "HelveticaNeueLTPro-Lt";
    font-weight: bold;
}
.box p:nth-child(2){
    font-size: .88rem;
    font-weight: bold;
    color: gray;
}
.box p:nth-child(3){
    font-size: 2rem;
    font-weight: 400;

}
.wow-img{
    position: absolute;
    top:-50px;
    left:-15%;
}
.wenzi{
    height: 285px;
    width: 80%;
    margin-left:10%;
    /* background: darkkhaki; */
    margin-top: 500px;
    position: relative;
}
.move1{
    animation: move 2s ease 1 forwards;
    -webkit-animation: move 2s ease 1 forwards;    
}
@keyframes move{
        from{
            opacity: 0;
            top:300px;        
    }
        to{
            opacity: 1;
            top:10px;       
    }
}
.movea{
    animation: move 2s ease 1s 1  forwards;
    -webkit-animation: movea 2s ease 1s 1  forwards;
}
@keyframes movea{
        from{
            opacity: 0;
            top:300px;        
    }
        to{
            opacity: 1;
            top:10px;       
    }
}
.wenzi1{
    width: 60%;
    height: 285px;
    /* background: darkmagenta; */
    float: left;
}
.wenzi1 img{
    display: inline-block;
    margin-left:300px;
    margin-top:100px;
   
}
.wenzi2{
    width: 40%;
    height: 285px;
    /* background: slategrey; */
    float: right;
}
.weizhi{
    margin-left: 12%;
    color: #515151;
    font-size: 14px;
    line-height: 28px;
    margin-top: 30px;
}
.bran{
    height: 757px;
    width: 100%;
    /* background: rebeccapurple; */
    position: relative;
    top:50px;   
}

.moveq{
    animation: move 2s ease 1s 1  forwards;
    -webkit-animation: moveq 2s ease 1s 1  forwards;
}
@keyframes moveq{
        from{
            opacity: 0;
            top:300px;        
    }
        to{
            opacity: 1;
            top:9
            0px;       
    }
}

.huanse{
    position: absolute;
    top: 0;
   left:300px;
   z-index: 10;
    /* margin-left:300px; */
    bottom: 7.8%;
    width: 43.75%;
    height: 757px;
    background: #cc933e url(../img/logo1.png) no-repeat 92% 95%;
    background-size: 160px;
    overflow: hidden;
}
.boxx{
    margin: 20% auto;
    width: 60%;
    /* background: darkgray; */
}
.boxx p{
    line-height: 40px;
}
.boxx p:nth-child(3){
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}
.boxx p:nth-child(4){
    margin-top: 30px;
}
.boxx p:nth-child(5){
    margin-top: 30px;
}
.boxx p:nth-child(1){
    font-size: 1.2rem;
}
.beizi{
    position: absolute;
    top: 60px;
    right: 0;
    width: 60%;

}
.bei{
    height: 796px;
    width: 100%;
}
.beizi img{
    height: 100%;
    width: 100%;

}
.hidden{
    height: 670px;
    margin: 400px auto;
    background: #f6f6f6;
}
.history{
    height: 220px;
    width: 100%;
    /* background: darkorange; */
    position: relative;

}
.history::before {
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    background: #e6e6e6;
}
.contentt{
    /* background: rgba(0, 0, 0, 0.5); */
    height: 220px;
    position: absolute;
    z-index: 2;
    left: 25%;
    top: 0%;
    right: 8.3333333333%;
    text-align: center;
}

.danian{
    height: 220px;
    width: 1209px;
    position: relative;
    z-index: -1000;
    /* height: 220px;
    width: 13090px; */
    /* background: slateblue; */
    overflow: hidden;
}
.nian{
    position: absolute;
    z-index: 100;
    top: 0%;
     height: 220px;
    width: 13090px;
    /* background: darkcyan;   */
}
.danian ul li {
    height: 220px;
    width: 1209px;
    float: left;
    font-size: 13rem;
    line-height: 1.1;
    color: #fff;
    font-family: "helvetica";
    line-height: 220px;
    letter-spacing: 30px;
    text-indent: 30px;
    /* background: darkblue; */
}
.conte-center{
    position: absolute;
    z-index: 2;
    top: 48%;
    height: 5px;
    width: 100%;
    /* background: darkblue; */
}
.conte-center  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.conte-center  ul li{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ffba4b;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.dianji{
    position: absolute;
    z-index: 5;
    top: 50%;
    height: 5px;
    width: 100%;
    /* background: darkcyan; */
}
.an{
    z-index: 5;
    margin-top: -30px;
    background-size: 12px auto;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.dianji-right{
    margin-left:95%;
    margin-top: -60px;
}
.an:hover{
    background-color: #ffba4b;
    cursor: pointer;
}
.squar{
    height: 252px;
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 25%;
    top:350px;
    right: 8.3333333333%;
    text-align: center;

}
.squar-c{
    font-size: 5rem;
    line-height: 0;
    color: #fff;
}
.jinru{
   /*  height: 200px;
    width: 600px; */
    /* background: darkblue; */
    position: absolute;
    left: 25%;
    overflow: hidden;
}
.littlebox{
    height: 200px;
    width: 600px;
    /* background: darkcyan;  */
 
}
.jinru ul li{
    position: absolute;
    height: 200px;
    width: 600px;
    background: #fff;
    margin-top: 2px;
    font-size: 35px;
    line-height: 200px;
    top:200px;
    transition: top 1s;

}
.jinru ul li:nth-child(1){
    top: 0;
}
/* 底部 */
.fotter{
    height: 446px;
    width: 100%;
    background: #fff;
    margin-top: -400px;
}
.wrapper{
    width: 1217px;
    height: 446px;
    margin: auto;
    /* background: darkcyan; */
    overflow: hidden;
}
.wrapper p{
    width: 20%;
    height: 75px;
    /* background: #555; */
    margin:50px auto;
}
.wrapper img{
    width: 100%;
    height: 100%;
    display: inline-block;  
}
.fotter-two{
    height: 168px;
    width: 100%;
    /* background: saddlebrown; */
    text-align: left;
}
.fotter-left{
    width: 70%;
    height: 100%;
    /* background: darkgoldenrod; */
    float: left
}
.fotter-right{
    width: 30%;
    height: 100%;
    /* background: darkorchid; */
    float: left;
}
table{
    margin-left: 10px;
}
.fotter-left table td{
    color: #808080;
    font-size: .9rem;
}
.fotter-left table td:hover{
    color: #cc933e;
    cursor: pointer;
}
.fotter-right p{
    margin-left:55%;
}
.fotter-right p:nth-child(2){
    width: 100%;
    margin-top:-40px;
    color: #808080;
}
.last{
    width: 60%;
    margin:30px auto;
}

#totop{
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 5%;
    border-radius:50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0,0,0,.1) !important;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    display: none;
}
#totop img{
    height: 70%;
    width: 70%;
    cursor: pointer;
}